.card{
    margin: 3vh 3vw;
    padding: 3vh 3vw;
    background-color: tomato;    
    border-radius: 3px;
}
a{
    color:#333;
    text-decoration: none;
    transition: 0.2s;
}

.link:hover{
    transform: translateY(-1vh);    
}